.container{
  display: grid;
  grid-template-areas: "header header"
						"aside main";
  grid-template-columns: 1fr 4fr;
}

header{
  	grid-area: header;
  	height: 60px;
  	background-color: rgb(113, 89, 193);
  	box-shadow: 0 3px 3px -3px #222;
	position: relative;
  	z-index: 2;
	color :#efefef;
	font-size: 22px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
    padding-left: 9px;
}

header > svg{
	justify-self: right;
	margin-right: 20px;
	cursor: pointer;
}